/* set the background color of the navbar */
.navbar {
    background-color: #990099;
    color: white;
    width: 100vw;
    align-items: center;
    position: absolute;
    top: 0;
    height: 7vh;
    min-height: 7vh;
}

.NavLink {
}
