/* Set the color of the font for the site to Purple */
div{
  color: #990099;
  font-family: 'Kalam', cursive;
  font-size: 11pt;
  width: 100%;
}
div.common {
  height: 90%;
  min-height: 90%;
}

div.algo{
  height: 86vh;
  min-height: 86vh;
}
